@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: "Source Sans 3", serif;
}

.navbar {
    background-color: rgb(184, 185, 190);
}

.btn {
    background-color: #ffb929;
}

.btn:hover {
    background-color: #e4a321;
}